@(invoices: List[Invoice], addForm: Form[Invoice])
@import helper._

@main("Invoices") {

	<h1>@invoices.size() invoices</h1>
	
	<table id="invoiceTable" class="tablesorter" border=1>
	<thead>
		<tr>
				<th>Invoice title(what exactly is an invoice title btw?)</th> <th>Invoice date</th> <th>Due date</th>
		</tr>
	</thead>
	<tbody>
		@for(invoice <- invoices) {
			<tr>
				<td>@invoice.title</td> <td>(@invoice.invoiceDate.format("d MMMM, YYYY"))</td> <td>(@invoice.dueDate.format("d MMMM, YYYY"))</td>
			</tr>
		}
	</tbody>
	
	</table>
	
	@form(routes.Invoices.create()) {
		<input type="text" name="title" />
		<input type="date" name="invoiceDate" />
		<input type="date" name="dueDate" />
		
		<input type="submit" value="Create invoice" />
	}
    
}
