@(invoices: List[Invoice], addForm: Form[Invoice])
@import helper._

@main("Invoices") {

	<h1>@invoices.size() invoices</h1>
	
	<table id="invoiceTable" class="tablesorter" border=1>

	<thead>
		<tr>
				<th>Invoice title
				<th>Invoice date</th><th>Due date</th>
				<th>Owner</th>
		</tr>
	</thead>
	<tbody>
		@for(invoice <- invoices) {
			<tr>

				<td>@invoice.title</td>
				<td>@invoice.invoiceDate.format("d MMMM, YYYY")</td>
				<td>@invoice.dueDate.format("d MMMM, YYYY")</td>
				<td>@invoice.owner.login</td>

			</tr>
		}
	</tbody>
	
	</table>
	
	@if(addForm.hasErrors()){
	<h3>Errors</h3>
	<ul class="negative">
		@addForm.errors().map { 
			case (prop, errors) => {
			
			@for(error <- errors) {
				<li>@prop: @error.message()</li>
			}
			}
		}
	</ul>
	}
	
	@form(routes.Invoices.create()) {
		<input type="text" name="title" />
		<input type="date" name="invoiceDate" />
		<input type="date" name="dueDate" />
		
		<input type="submit" value="Create invoice" />
	}
    
}
