@( invoice: Invoice )
@import helper._

@main(invoice.title) {

<p class="back back-invoices">
	<a href="@routes.Invoices.index()">← All invoices</a>
</p>

@if(flash.contains("success")) {
	    <p class="success">
	        @flash.get("success")
	    </p>
	}

<section class="invoice">
	<header class="group">
		<h1 class="alignleft">@invoice.title</h1>

		<a href="@routes.Invoices.edit(invoice.id)" class="btn alignright">Edit</a>
		@if(!invoice.isPaid()) {
		<a
				title="Send this invoice to the client with e-mail" 
				data-method="post"
				data-remote="true"
				class="btn alignright"
				style="margin-right: 5px"
				href="@routes.Invoices.sendInvoice(invoice.id)">Send Invoice</a>
			</a>
			}
	</header>	
	
	<dl class="details">
		<dt>Invoice date</dt>
		<dd>@invoice.invoiceDate.format("yyyy-MM-dd")</dd>
		
		<dt>Due date</dt>
		<dd>@invoice.dueDate.format("yyyy-MM-dd")</dd>

		<dt>Bank account</dt>
		<dd>@invoice.bankAccount.toString()</dd>
	</dl>

	<h3>Client</h3>

	<ol class="list">
		<li><strong><a href="@routes.Clients.show(invoice.client.id)">@invoice.client.name</a></strong></li>
		<li>@invoice.client.address</li>
		<li>@invoice.client.postalCode</li>
		<li>@invoice.client.country</li>
	</ol>
	
	<footer class="group">
		@if(invoice.isPaid()){
		<strong class="alignleft @if(invoice.wasPaidOnTime()){positive}else{negative}">Paid on <time>@invoice.datePaid.format("yyyy-MM-dd")</time></strong>
		}

		<p class="summary alignright">
			Total:
			<strong class="total-rate">$@invoice.totalRate</strong>
		</p>
	</footer>

</section>
}
