@( invoice: Invoice )
@import helper._

@main("Invoice: "+invoice.title) {

<p class="back back-invoices">
	<a href="@routes.Invoices.index()">← All invoices</a>
</p>

@if(flash.contains("success")) {
	    <p class="success">
	        @flash.get("success")
	    </p>
	}

<section class="invoice">
	<header class="group">
		<h1 class="alignleft">@invoice.title</h1>

		<a href="@routes.Invoices.edit(invoice.id)" class="btn alignright">Edit</a>
	</header>	
	
	<dl class="details">
		<dt>Invoice date</dt>
		<dd>@invoice.invoiceDate.format("yyyy-MM-dd")</dd>
		
		<dt>Due date</dt>
		<dd>@invoice.dueDate.format("yyyy-MM-dd")</dd>

		<dt>Bank account</dt>
		<dd>@invoice.bankAccount.toString()</dd>
	</dl>

	<h3>Client</h3>

	<ol class="list">
		<li><strong><a href="@routes.Clients.show(invoice.client.id)">@invoice.client.name</a></strong></li>
		<li>@invoice.client.address</li>
		<li>@invoice.client.postalCode</li>
		<li>@invoice.client.country</li>
	</ol>
	
	<footer class="group">
		<p class="alignleft">
		@if(invoice.isPaid()){
		
		<strong class="@if(invoice.wasPaidOnTime()){positive}else{negative}">Paid on <time>@invoice.datePaid.format("yyyy-MM-dd")</time></strong>
		
		} else {
		@if(invoice.isOverdue()) {
		<a
				title="Send reminder for this invoice" 
				data-method="post"
				data-remote="true"
				data-active-text="Sending ..."
				class="btn alignright dynamic-btn-text"
				style="margin-right: 5px"
				href="@routes.Invoices.sendReminder(invoice.id)">Send Reminder</a>
			</a>
			} else {
		<a
			title="Send this invoice to the client with e-mail" 
			data-method="post"
			data-remote="true"
			data-active-text="Sending ..."
			class="btn alignright dynamic-btn-text"
			style="margin-right: 5px"
			href="@routes.Invoices.sendInvoice(invoice.id)">Send Invoice</a>
		</a>
		
			}
		}
		</p>

		<p class="summary alignright">
			Total:
			<strong class="total-rate">$@invoice.totalRate</strong>
		</p>
	</footer>

</section>
}
