@( invoice: Invoice )
@import helper._

@main(invoice.title) {

<p class="back back-invoices">
	<a href="@routes.Invoices.index()">← All invoices</a>
</p>

<section class="invoice">
	<header class="group">
		<h1 class="alignleft">@invoice.title</h1>

		<a href="@routes.Invoices.edit(invoice.id)" class="btn alignright">Edit</a>
	</header>	
	
	<dl>
		<dt>Invoice date</dt>
		<dd>@invoice.invoiceDate.format("yyyy-MM-dd")</dd>
		
		<dt>Due date</dt>
		<dd>@invoice.dueDate.format("yyyy-MM-dd")</dd>
		
		<dt>Paid?</dt>
		<dd>@{ if(invoice.isPaid()) "Yes (on "+invoice.datePaid.format("yyyy-MM-dd")+")" else "No" }</dd>
		
		<dt>Client</dt>
		<dd>
			<a href="@routes.Clients.show(invoice.client.id)">@invoice.client.name</a>
		</dd>
	
	</dl>

</section>
}
