@(editForm: Form[Users.UserEditForm])

@import helper._

@*************************************
 * Display error message if user    *
 * creation failed                  *
*************************************@
@if(editForm.hasGlobalErrors) {
<p class="error">
    @editForm.globalError.message
</p>
}

@if(flash.contains("success")) {
    <p class="success">
        @flash.get("success")
    </p>
}

<form action="@routes.Users.update()" method="post"class="create-form group">
	    
	    <p><label for="username">Username</label><input required type="text" class="full" name="username" value="@Session.getCurrentUser().username" readonly><span class="negative">
	    	@if(editForm.error("username") != null) {
				@Messages( editForm.error("username").message() )
			}</span></p>

		<p><label for="oldPassword">Old password</label><input type="password" class="full" name="oldPassword" placeholder="Old password"><span class="negative">
	    	@if(editForm.error("oldPassword") != null) {
				@Messages( editForm.error("oldPassword").message() )
			}</span></p>

		<div class="table">
		    <p><label for="newPassword">New Password</label><input type="password" class="full" name="newPassword" placeholder="New password"><span class="negative">
		    	@if(editForm.error("newPassword") != null) {
					@Messages( editForm.error("newPassword").message() )
				}</span></p>
			<p><label for="repeatNewPassword">Repeat new password</label><input type="password" class="full" name="newRepeatedPassword" placeholder="Repeat new password"><span class="negative">
				@if(editForm.error("newRepeatedPassword") != null) {
					@Messages( editForm.error("newRepeatedPassword").message() )
				}</span></p>
	    </div>

		<br/ class="clear">
    	<p><label for="name">Name</label><input type="text" class="full" name="name" value="@Session.getCurrentUser().name" placeholder="ex. Rob Schneider"></p>

    	<p><label for="address">Address</label><textarea rows="2" class="full" name="address">@Session.getCurrentUser().address</textarea></p>
    	<p><label for="postalCode">Postal code</label><input type="text" class="full"name="postalCode" value="@Session.getCurrentUser().postalCode" placeholder="ex. 12345-6789"></p>

	    <p><label for="organizationNumber">Organization number</label><input type="text" class="full" name="organizationNumber" value="@Session.getCurrentUser().organizationNumber" placeholder="XXXXXX-XXXX">
	    	<span class="negative">
	        	@if(editForm.error("organizationNumber") != null) {
					@Messages( editForm.error("organizationNumber").message(), editForm.error("organizationNumber").arguments() )
				}
			</span></p>
	    
	    <label for="country">Country</label>
	    <select name="country" >
	    	<option value="">Select a country</option>
			@for(country <- User.getCountries()) {
				@if(Session.getCurrentUser().country == country){
					<option value="@country" selected="selected">@country</option>
				} else {
					<option value="@country">@country</option>
				}
			}
		</select>
	
	<p>
		<small>
			<button type="submit">Apply changes</button>
			 or 
			<a href="@routes.Users.show()" class="btn-cancel close">Cancel</a>
		</small>
	</p>
</form>