@(form: Form[User])

@header("Create user")

    <h1>Create user</h1>

@*************************************
* Tell Play where to send the form  *
*************************************@
@helper.form(routes.Users.create) {
    
    
    @*************************************
	 * Display error message if user    *
	 * creation failed                           *
 	*************************************@
    @if(form.hasGlobalErrors) {
    <p class="error">
        @form.globalError.message
    </p>
	}

    <p>
        <input type="username" name="username" placeholder="Username" value="@form("username").value">
    </p>
    <p>
        <input type="password" name="password" placeholder="Password">
    </p>
    <p>
        <button type="submit">Create user</button>
    </p>

	}

@footer()