@(signupForm: Form[User])

@import helper._

@signup("Create user") {

    <h1>Create user</h1>

	@*************************************
	* Tell Play where to send the form  *
	*************************************@
	@helper.form(routes.Users.create) {
	    
	    
	    @*************************************
		 * Display error message if user    *
		 * creation failed                           *
	 	*************************************@
	    @if(signupForm.hasGlobalErrors) {
	    <p class="error">
	        @signupForm.globalError.message
	    </p>
		}
	    
	    <fieldset>
	        <legend>Account information</legend>
	        
	        <p><input type="text" name="username" placeholder="Username"></p>
	        <p><input type="password" name="password" placeholder="Password"></p>
	    	<p><input type="password" name="repeatPassword" placeholder="Repeat password"></p>
		    
	    </fieldset>
	    
	    <fieldset>
	    
	            
            <legend>Personal information</legend>
            
            <p><input type="text" name="name" placeholder="Your full name"></p>
            <p><textarea" cols="50" name="address" placeholder="Address"></p>
            <p><input type="text" name="postalCode" placeholder="Postal Code"></p>
            <p><input type="text" name="organizationNumber" placeholder="Organization number"></p>
            
            
            <select name="country">
				@for(country <- User.getCountries()) {
					<option value="@country">@country</option>	
				}
			</select>
            
        </fieldset>
        
        <fieldset>
            
            @checkbox(
                signupForm("accept"), 
                '_label -> None, '_text -> "You agree to the Terms and conditions",
                '_showConstraints -> false
            )
            
        </fieldset>
	    
	    <p><button type="submit">Signup</button></p>
	    <p><a href="/">Cancel</a></p>
	    
	
	}
}