/*	=HEADER
----------------------------------------------------------------------*/


[role="banner"] {
	margin-bottom: $lineheight;
	@include clearfix;

	h1, 
	div {
		float: left;
	}

	.user-controls {
		float: right;
		font-size: .9em;
	}

	.greeting {
		padding: 0 5px;
		font-weight: bold;
	}

	h1 {
		width: to_percent($sidebar-width);
		margin: 0;
		font-size: to_em(20);

		a {
			color: $grey; 
			text-decoration: none;
		}
	}	
}