/* =NAVIGATION
----------------------------- */

[role="navigation"] {
	a {
		text-decoration: none;
		display: block;
		padding: .4em 0;
		font-size: to_em(17);
		position: relative;

		&:hover {
			&::after {
				content: "›";
				color: $grey;
				position: absolute;
				right: 3%;
			}
		}
	}

	.badge-overdue {
		background-color: orange;
		color: #fff;
	}

	li {
		border-bottom: 1px solid $grey-light;
	}

	ul ul li{
		border-bottom: 0;
		font-size: .85em;
		padding-left: 1em;

		a::before {
			content: "★";
			margin-right: 5px;
			color: $grey;
		}
	}
}