/* =NAVIGATION
----------------------------- */

[role="navigation"] {
	a {
		text-decoration: none;
		display: block;
		padding: .4em 0;
		font-size: to_em(17);
		position: relative;

		&:hover {
			&::after {
				content: "›";
				color: $grey;
				position: absolute;
				right: 3%;
			}
		}
	}

	li {
		border-bottom: 1px solid $grey-light;
	}

	.badge-overdue {
		background-color: orange;
		color: #fff;
	}
}