@(addForm: Form[Client])
@import helper._
@import com.github.nscala_time.time.Imports._

@if(addForm.hasErrors()){
<h3>Errors</h3>
<ul class="negative">
	@addForm.errors().map { 
		case (prop, errors) => {
		
		@for(error <- errors) {
			<li>@prop: @error.message()</li>
		}
		}
	}
</ul>
}

<form action="@routes.Clients.create()" class="create-form" data-remote="true"></form>
	<div class="table">	
		<p>
			<label for="title">Client name</label>
			<input type="text" id="name" name="name" /></p>

		<p>
			<label for="title">Client Organization Number</label>
			<input type="text" id="orgNumber" name="orgNumber" placeholder="XXXXXX-XXXX" /></p>

	</div>
		
	<div class="table">
	<p>
		<label for="title">Client Address</label>
		<input type="text" id="address" name="address" /></p>
		
	<p>
		<label for="title">Client Postal Code</label>
		<input type="text" id="postalCode" name="postalCode" /></p>	
	</div>
		
	<div class="table">
		<p>
			<label for="title">Client Contact Person</label>
			<input type="text" id="contactPerson" name="contactPerson" /></p>
			
		<p>
			<label for="title">Client E-Mail</label>
			<input type="text" id="email" name="email" placeholder="example[at]gmail.com" /></p>

	</div>

	<p>
		<label for="client-country">Country</label>
		 <select id="client-country" name="country">
	            	<option value="default">Select a country</option>
					@for(country <- User.getCountries()) {
						<option value="@country">@country</option>	
					}
			</select>
	</p>
	
	<p class="right">
		<input type="submit" value="Add client" />
		<small>or <a href="#" class="btn-cancel close">Cancel</a></small>
	</p>
</form>