@( client: Client, editForm: Form[Client] )
@import helper._

@main("Edit client") {
	<h1>Editing client <small>@client.name</small></h1>

	<p class="back">
		<a href="@routes.Clients.show(client.id)">← Back to client</a> ·
		<a href="@routes.Clients.index()">View all clients</a>
	</p>
	
	@if(editForm.hasErrors()){
	<h3>Errors</h3>
	<ul class="negative">
		@editForm.errors().map { 
			case (prop, errors) => {
			
			@for(error <- errors) {
				<li>@prop: @error.message()</li>
			}
			}
		}
	</ul>
	}	
	
	<form action="@routes.Clients.update(client.id)" data-remote="true" data-method="put">
		
		<p>
			<label for="name">Name</label>
			<input id="name" type="text" name="name" value="@editForm("name").value" /></p>
		
		<p>
			<label for="org-number">Organization number</label>
			<input id="org-number" placeholder="XXXXXX-XXXX" type="text" name="orgNumber" value="@editForm("orgNumber").value" /></p>
		
		<p>
			<label for="title">Address</label>
			<input type="text" id="address" name="address" value="@editForm("address").value" /></p>
		
		<p>
			<label for="title">Postal Code</label>
			<input type="text" id="postalCode" name="postalCode" value="@editForm("postalCode").value" /></p>	
				
		 <select name="country" >
	    	<option value="">Select a country</option>
			@for(country <- User.getCountries()) {
				@if(editForm("country").value == country){
					<option value="@country" selected="selected">@country</option>
				} else {
					<option value="@country">@country</option>
				}
			}
		</select>
		
		<p>
			<label for="title">Contact Person</label>
			<input type="text" id="contactPerson" name="contactPerson" value="@editForm("contactPerson").value" /></p>
			
		<p>
			<label for="title">E-Mail</label>
			<input type="text" id="email" name="email" value="@editForm("email").value" /></p>
		
		<p>
			<input type="submit" value="Save" /> or <a href="@routes.Clients.index()">Cancel</a>
		</p>

		<p class="back">
			<a href="@routes.Clients.show(client.id)">← Back to client</a>
		</p>
	</form>
}