@( client: Client, editForm: Form[Client] )
@import helper._

@main("Edit client") {
	<h1>Editing client <small>@client.name</small></h1>
	
	@if(editForm.hasErrors()){
	<h3>Errors</h3>
	<ul class="negative">
		@editForm.errors().map { 
			case (prop, errors) => {
			
			@for(error <- errors) {
				<li>@prop: @error.message()</li>
			}
			}
		}
	</ul>
	}	
	
	@form(routes.Clients.update(client.id)) {
		<input type="hidden" name="_method" value="PUT" />
		
		<p>
			<label for="name">Name</label>
			<input id="name" type="text" name="name" value="@editForm("name").value" /></p>
		
		<p>
			<label for="org-number">Organization number</label>
			<input id="org-number" placeholder="XXXXXX-XXXX" type="text" name="orgNumber" value="@editForm("orgNumber").value" /></p>
		
		
		<p>
			<input type="submit" value="Save" /> or <a href="@routes.Clients.index()">Cancel</a>
		</p>
	}
}