@(clients: List[Client], addForm: Form[Client])
@import helper._

@main("Clients") {

	<div class="form-container" hidden>
		@create_form(addForm)
	</div>

	<header class="invoices-header">
		<h1 class="alignleft">@clients.size() clients</h1>
		<a class="alignright btn" href="#" id="add-client-btn">Add client</a>
		<br class="clear" />
	</header>

	<table id="clientTable" class="tablesorter" border=1>

	<thead>
		<tr>
				<th>Client name </th>
				<th>Client orgNbr.</th>
		</tr>
	</thead>
	<tbody>
		@for(client <- clients) {
			<tr>

				<td>@client.name</td>
				<td>@client.orgNumber</td>
				<td><a href="@routes.Clients.edit(client.id)">Edit</a></td>
				<td><a href="@routes.Clients.destroy(client.id)" type="hidden" name="_method" value="DELETE">Delete</a></td>
			</tr>
		}
	</tbody>
	
	</table>    
}