@(clients: List[Client], addForm: Form[Client])
@import helper._

@main("Clients") {

@if(flash.contains("success")) {
	    <p class="success">
	        @flash.get("success")
	    </p>
	}

	<div class="form-container" @if(!addForm.hasErrors()){hidden}>
		@create_form(addForm)
	</div>

	<header class="invoices-header">
		<h2 class="alignleft">Clients <span class="bubble">@clients.size</span></h2>
		<a class="alignright btn" href="#" id="add-client-btn">Add client</a>
		<br class="clear" />
	</header>

	<table class="clients-table">
		<thead>
			<tr>
					<th>Name </th>
					<th>Organization no.</th>
			</tr>
		</thead>
		<tbody>
			@for(client <- clients) {
				<tr id="client-@client.id">
					<td><a href="@routes.Clients.show(client.id)">@client.name</td>
					<td>@client.orgNumber</td>
					<td><a href="@routes.Clients.edit(client.id)">Edit</a></td>
					<td>
						<a class="delete" 
							title="Remove client" 
							href="@routes.Clients.destroy(client.id)" 
							data-remote="true" 
							data-confirm="Are you sure you want to remove this client? This will also remove all invoices connected to the client as well."
							data-method="delete">×</a>
					</td>
				</tr>
			}
		</tbody>
	
	</table>    
}