@(clients: List[Client], addForm: Form[Client])
@import helper._

@main("Clients") {

	<header class="invoices-header">
		<h2 class="alignleft">Clients <span class="bubble">@clients.size</span></h2>
		<a class="alignright btn" href="#add-client-modal" data-toggle="modal" id="add-client-btn">Add client</a>
		<br class="clear" />
	</header>

	<div class="form-container" @if(!addForm.hasErrors()){hidden}>
		@create_form(addForm)
	</div>

	<table class="clients-table">
		<thead>
			<tr>
					<th>Name </th>
					<th>Organization no.</th>
			</tr>
		</thead>
		<tbody>
			@for(client <- clients) {
				@row(client)
			}
		</tbody>
	
	</table>    
}