@( client: Client)
@import helper._

@main(client.name) {

<p class="back back-invoices">
	<a href="@routes.Clients.index()">← All clients</a>
</p>

<section class="client">
	<header class="group">
		<h1 class="alignleft">@client.name</h1>

		<a href="@routes.Clients.edit(client.id)" class="btn alignright">Edit</a>
	</header>	
	
	<dl>
		<dt>Client name</dt>
		<dd>@client.name</dd>
		
		<dt>Client Organization Number</dt>
		<dd>@client.orgNumber</dd>
		
		<dt>Client Adress</dt>
		<dd>Address: @client.address</dd>
		<dd>Postal Code: @client.postalCode</dd>
		<dd>Country: @client.country</dd>
		
		<dt>Client Contact Person</dt>
		<dd>@client.contactPerson</dt>
	
	</dl>

</section>
}
