@( client: Client)
@import helper._

@main(client.name) {

<p class="back back-invoices">
	<a href="@routes.Clients.index()">← All clients</a>
</p>

<section class="client">
	<header class="group">
		<h1 class="alignleft">Client <small>@client.name</small></h1>

		<a href="@routes.Clients.edit(client.id)" class="btn alignright">Edit</a>
	</header>	
	
	<dl class="details">
		<dt>Name</dt>
		<dd>@client.name</dd>
		
		<dt>Org.no.</dt>
		<dd>@client.orgNumber</dd>
		
		<dt>Address</dt>
		<dd>@client.address</dd>
		<dt>Postal code</dt>
		<dd>@client.postalCode</dd>
		<dt>Country</dt>
		<dd>@client.country</dd>
		
		<dt>Contact</dt>
		<dd>@client.contactPerson</dt>
	
	</dl>

</section>
}
