 @( bankAccount: BankAccount, editForm: Form[BankAccount] )
@import helper._

@main("Edit bank account") {
	<h1>Editing <small>@bankAccount.toString() (@bankAccount.bank)</small></h1>
	<p class="back">
		<a href="@routes.BankAccounts.show(bankAccount.id)">← Back to account</a> ·
		<a href="@routes.BankAccounts.index()">View all accounts</a>
	</p>

	@if(editForm.hasErrors()){
	<h3>Errors</h3>
	<ul class="negative">
		@editForm.errors().map { 
			case (prop, errors) => {
			
			@for(error <- errors) {
				<li>@prop: @error.message()</li>
			}
			}
		}
	</ul>
	}	
	 
	<form action="@routes.BankAccounts.update(bankAccount.id)" method="post" data-remote="true" data-method="PUT">
		<!--  <input type="hidden" name="_method" value="PUT" /> -->

		<p>
			<label for="acc-nr">Account number</label>
			<input type="text" id="acc-nr" name="accountNumber" value="@editForm("accountNumber").value" /></p>
		
		<p>
			<label for="acc-bank">Bank</label>
			<input type="text" id="acc-bank" name="bank" value="@editForm("bank").value" /></p>
		
		<p>
			<label for="acc-iban">IBAN</label>
			<input type="text" id="acc-iban" name="iban" value="@editForm("iban").value" /></p>
		
		<p>
			<label for="acc-bic">BIC</label>
			<input type="text" id="acc-bic" name="bic" value="@editForm("bic").value" /></p>
	

		<p>
			<label for="acc-type">Account type</label>
			<select name="accountType" id="acc-type">
				@for(t <- BankAccount.AccountType.values) {
				<option data-format="@t.getFormat()" value="@t.toString()" @if(t.toString().equals(bankAccount.accountType.toString())) {selected}>@t.getName()</option>
				}
			</select>	
		</p>

		<p>
			<input type="submit" value="Update" />
		</p>
	</form>
}