@(bankAccounts: List[BankAccount], addForm: Form[BankAccount])
@import helper._

@main("BankAccounts") {
<div class="form-container" hidden>
		@create_form(addForm)
	</div>

	<header>
		<h2 class="alignleft">Bank Accounts <span class="bubble">@bankAccounts.size()</span></h2>
		<a class="alignright btn" href="#" id="add-bankaccount-btn">Add Account</a>
		<br class="clear" />
	</header>	

	
	@if(bankAccounts != null && !bankAccounts.isEmpty()) {
	<ol class="bankaccount-list">
		@for(bankAccount <- bankAccounts) {
		<li>
			<a href="@routes.BankAccounts.show(bankAccount.id)">
				<strong class="bankaccount-accountnumber">@bankAccount.accountNumber</strong>
				
				<label>Account type</label>@bankAccount.accountType.getName
				<label>Bank</label>@bankAccount.bank
				<label>IBAN</label>@bankAccount.iban
				<label>BIC</label>@bankAccount.bic
			</a>
			</li>
		}
	</ol>
	}	
    
}