@(bankAccounts: List[BankAccount], addForm: Form[BankAccount])
@import helper._

@main("Bank Accounts") {
	
	<div class="form-container" @if(!addForm.hasErrors()) {hidden}>
		@create_form(addForm)
	</div>

	<header>
		<h2 class="alignleft">Bank Accounts <span class="bubble">@bankAccounts.size()</span></h2>
		<a class="alignright btn" href="#add-account-modal" data-toggle="modal" id="add-bankaccount-btn">Add Account</a>
		<br class="clear" />
	</header>	

	<table class="accounts-table">
		<thead>
			<tr>
				<th>Number</th>
				<th>Type</th>
				<th>Bank</th>
			</tr>
		</thead>
		
		<tbody>
		@for(account <- bankAccounts) {
			@row(account)
		}
		</tbody>
	</table>
    
}