@( bankAccount: BankAccount )
@import helper._

@main(bankAccount.toString()) {
<section class="bankAccount">
	<header class="group">
		<h1 class="alignleft">Bank account <small>@bankAccount.toString()</small></h1>

		<a href="@routes.BankAccounts.edit(bankAccount.id)" class="btn alignright">Edit</a>
	</header>	

	<p class="back back-bankAccounts">
		<a href="@routes.BankAccounts.index()">← All bank accounts</a>
	</p>
	
	<dl class="details">
		<dt>Account number</dt>
		<dd>@bankAccount.accountNumber</dd>

	 	<dt>Account type</dt>
		<dd>@bankAccount.accountType.toString()</dd>
		
		<dt>Bank</dt>
		<dd>@bankAccount.bank</dd>
		
		<dt>IBAN</dt>
		<dd>@bankAccount.iban</dd>
		
		<dt>BIC</dt>
		<dd>@bankAccount.bic</dd>
		
	
	</dl>

</section>
}
