@(overdueInvoices: List[Invoice])

<nav role="navigation">
	<ul>
		<li>
			<a href="@routes.Invoices.index()">Invoices @if(!overdueInvoices.isEmpty()) {<span title="@overdueInvoices.size() overdue invoices" class="badge badge-overdue">@overdueInvoices.size()</span>}</a>	
			<ul>
				<li><a href="@routes.Invoices.starred()">Starred</a></li>
				<li><a href="@routes.Invoices.paid()">Paid</a></li>
			</ul>
		</li>
		<li>
			<a href="@routes.Clients.index()">Clients</a>	
		</li>
		<li>
			<a href="@routes.BankAccounts.index()">Bank Accounts</a>	
		</li>
		<li>
			<a href="@routes.Users.show()">Me</a>
		</li>
	</ul>
</nav>