@-webkit-keyframes "pop" {
	0% 		{	
		-webkit-transform: scale(.8) translate(0, -100px); 
	}
	50% {
		-webkit-transform: scale(1.1) translate(0, -50px); 
	}
	100% 	{	
		-webkit-transform: scale(1) translate(0, 0); 
	}
}