/*	=ELEMENT SETUP
----------------------------------------------------------------------*/

img,
object,
embed,
iframe {
	max-width: 100%;
	height: auto;
	
	&.noscale {
		max-width: none;
	}
}

a {
	color: $link-color;
	@include transition(color .15s ease-out);

	&:hover {
		color: #333;
	}
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: $lineheight / 2 0 $lineheight;
}