/* =TABLE STYLING
------------------------------------------ */

table {
	border: 0;
	width: 100%;
	text-align: left;
}

th {
	font-size: to_em(14);
	padding-bottom: 10px;
}

td {
	padding: 2px .5em;
	border: 0;
}

tr:nth-child(even) {
	background-color: #f4f4f4;
}

tr {
	&.added {
		-webkit-animation: pop 1s ease;
	}
}